node_modules
vendor
.env
.env.local
.env.production
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
tests
.git
.github
.vscode
.idea
docker
*.md
phpunit.xml
.phpunit.result.cache
.editorconfig
